bin/
obj/
.vs/
*.user
*.suo
*.dll
*.pdb
*.exe
*.zip
*.log
artifacts/
maintenance/staging/
Backups/
Logs/
Worlds/
_runtime/
1.PigeonServers/
ServerPlugins/
PGame-TSManager/Plugins/*
!PGame-TSManager/Plugins/.gitkeep
